<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap Core CSS
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

    <!-- MetisMenu CSS
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> -->
    <link th:href="@{/metisMenu/metisMenu.min.css}" rel="stylesheet" />

    <!-- Custom CSS
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet"> -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" />

    <!-- my custom css -->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet" />

    <!-- Morris Charts CSS
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet"> -->
    <link th:href="@{/morrisjs/morris.css}" rel="stylesheet" />

    <!-- Custom Fonts
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <!-- main content -->
    <!-- Navigation -->
    <div th:replace="course/fragments/header :: navigation">...</div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <nav aria-label="breadcrumb" style="padding: 10px 16px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" th:text="${course.title}"></a></li>
                        <li class="breadcrumb-item"><a href="#">Resources</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Files</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Files</h1>
                    <div sec:authorize="hasRole('ROLE_TEACHER')" style="margin-bottom: 25px">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#fileUploadModal">Add new File</button>
                        <div th:replace="course/fragments/modals :: uploadFileFragment(id='fileUploadModal')"></div>
                    </div>
                    <div class="panel panel-default" th:if="${not #lists.isEmpty(fileResourcesList)}">
                        <div class="panel-heading">Files</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Description</th>
                                    <th><i class="fa fa-link"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="resource : ${fileResourcesList}">
                                    <td th:text="${resource.getFileName()}"></td>
                                    <td th:text="${resource.getSummary()}"></td>
                                    <td><a class="btn btn-primary" href="#" th:href="@{files/{fileId}(fileId=${resource.resourceId})}"
                                           role="button"><i class="fa fa-download"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!-- end of the main content -->

<!-- jQuery
<script src="../vendor/jquery/jquery.min.js"></script> -->
<script th:src="@{/jquery/jquery.min.js}" ></script>

<!-- Bootstrap Core JavaScript
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script> -->
<script th:src="@{/js/bootstrap.min.js}" ></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/js/sb-admin-2.js}" ></script>

<!-- Metis Menu Plugin JavaScript
<script src="../vendor/metisMenu/metisMenu.min.js"></script> -->
<script th:src="@{/metisMenu/metisMenu.min.js}" ></script>

<!-- Morris Charts JavaScript
<script src="../vendor/raphael/raphael.min.js"></script> -->
<script th:src="@{/raphael/raphael.min.js}" ></script>

<!-- <script src="../vendor/morrisjs/morris.min.js"></script> -->
<script th:src="@{/morrisjs/morris.min.js}" ></script>
<!-- jquery
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

<!-- <script src="../data/morris-data.js"></script> -->
</body>


</html>